.piano-key {
    background-color: #f0f0f0;
    height: 300px;
    width: 50px;
    border: 2px solid #000000;
    border-radius: 10px;
    z-index: 1;
}

.piano-key:hover {
    background-color: #d8d8d8;
    cursor: pointer;
}

.piano-key-accidental {
    color: #ffffff;
    position: relative;
    background-color: #1b1b1b;
    margin-left: -15px;
    margin-right: -15px;
    height: 200px;
    width: 30px;
    border-radius: 10px;
    z-index: 2;
}

.piano-key-accidental:hover {
    background-color: #000000;
    cursor: pointer;
}

.piano-key.disabled {
    background-color: #878787;
    cursor: default;
}

.piano-key-accidental.disabled {
    background-color: #696969;
    cursor: default;
}

.key-label {
    color: #000000;
    position: absolute;
    bottom: 0;
    left: 0;
}